.auth__root {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: azure;
}

.auth__bg {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: grid;
  place-items: center;
  background-color: white;
}

#password,
#name {
  display: block;
}
.email__filed,
.password__filed {
  display: block;
}

.auth__form {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 30px;
}

.name,
.password {
  height: 32px;
  width: 280px;
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.name:focus,
.password:focus {
  outline: none;
}
.submit-btn {
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.password__label,
.email__label {
  font-weight: 700;
}
.social__login {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.facebook__login,
.google__login {
  width: 120px;
  height: 40px;
  border: 2px solid black;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 30px;
}
.google__login {
  background-color: #f4b400;
}

.facebook__login {
  background-color: #4267b2;
}

.error{
  color: red;
}

.create_new__user{
  margin-top: 30px;
}