.reset__root {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: azure;
}

.bg__grid {
  height: 300px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: grid;
  place-items: center;
  background-color: white;
}

.center__grid {
  display: grid;
  place-items: center;
}

#reset {
  display: block;
}

.reset {
  height: 32px;
  width: 280px;
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.reset:focus,
.password:focus {
  outline: none;
}

.reset__label {
  font-weight: 700;
}

.sent__email {
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
}
